body{
    background-image:url("https://images.pexels.com/photos/998641/pexels-photo-998641.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
    color: lightgreen;
    background-size: cover;


}

#img{
    height:300px;
    width:300px;
    
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  .favs{
    font-weight: bolder;
    font-size: 18px;
  }

  p{
    font-weight: bolder;
    font-size: 18px;
  }

  .favorite{
    margin-left: 100px;
}

#dlb{
    margin-left: 100px;
}

#subscribe{
    margin-left:1100px
}

input[type=text] {
  color: lightgreen;
}